Obtener recordatorio por correo electrónico.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}},"flowpush_Connection_Name":{"defaultValue":"flowpush","type":"String","metadata":{"description":"Name of the connection."}},"office365users_Connection_Name":{"defaultValue":"office365users","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('flowpush_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"},"sharepoint.remindMeIn":{"defaultValue":1,"type":"Int"},"sharepoint.columnName":{"defaultValue":"","type":"String"},"sharepoint.listName":{"defaultValue":"","type":"String"},"sharepoint.emailSubject":{"defaultValue":"","type":"String"},"sharepoint.emailBodyTitle":{"defaultValue":"","type":"String"},"sharepoint.emailFlowLinkTitle":{"defaultValue":"","type":"String"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Pacific Standard Time","schedule":{"hours":["15"]}},"evaluatedRecurrence":{"frequency":"Day","interval":1,"timeZone":"Pacific Standard Time","schedule":{"hours":["15"]}},"metadata":{"operationMetadataId":"b8eaa57b-c1ba-441c-81ae-7655d51ff4d3"},"type":"Recurrence"}},"actions":{"Scope_to_get_items_due_in_1_day":{"actions":{"Today_+_x_days":{"runAfter":{},"metadata":{"operationMetadataId":"b1518ce7-3f72-440a-a671-fb67494da998"},"type":"Compose","inputs":"@addDays(utcnow(), int(outputs('Days_to_remind_me_in')), 'yyyy-MM-dd')"},"x_Days_+_1":{"runAfter":{"Today_+_x_days":["Succeeded"]},"metadata":{"operationMetadataId":"2e3eb901-c35a-4096-99d3-15ba3e4cd271"},"type":"Compose","inputs":" @{addDays(outputs('Today_+_x_days'),1,'yyyy-MM-dd')}"},"Get_items":{"runAfter":{"Get_list_name_by_HTTP_request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"},"operationMetadataId":"6871c09f-e740-49b2-a09b-f66e3c9d1691"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://minagriculturaco.sharepoint.com/sites/ContratosyconveniosDCAF'))}/tables/@{encodeURIComponent(encodeURIComponent('cbb3b5e6-2ffd-4c0e-a6fd-fbca8e66b35d'))}/items","queries":{"$filter":"@concat(concat('field_7',' ge ', '''',outputs('Today_+_x_days')),'''',' and ', concat('field_7',' lt ','''', outputs('x_Days_+_1'),''''))"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"Send_me_a_reminder_email":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailNotification"},"operationMetadataId":"e935b02d-aae4-41de-a47f-a046be73c6fc"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['flowpush']['connectionId']"}},"method":"post","body":{"notificationSubject":"Aviso para Matriz seguimiento Contratos_Programas_Fiducia DCAF: @{outputs('Days_to_remind_me_in')} días antes de FECHA TERMINACIÓN CONTRATO","notificationBody":"<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n\n<head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style type=\"text/css\">\n        @font-face {\n            font-family: 'FabricMDL2Icons';\n            src: url('https://appsforoffice.microsoft.com/fabric/fonts/icons/FabricMDL2Icons.woff') format('woff'), url('https://appsforoffice.microsoft.com/fabric/fonts/icons/FabricMDL2Icons.ttf') format('truetype');\n            font-weight: normal;\n            font-style: normal;\n        }\n\n        @font-face {\n            font-family: \"Segoe UI\";\n            src: local(\"Segoe UI Light\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Light.woff2\") format(\"woff2\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Light.woff\") format(\"woff\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Light.ttf\") format(\"truetype\");\n            font-weight: 100;\n            font-style: normal;\n        }\n\n        @font-face {\n            font-family: \"Segoe UI\";\n            src: local(\"Segoe UI\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Regular.woff2\") format(\"woff2\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Regular.woff\") format(\"woff\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Regular.ttf\") format(\"truetype\");\n            font-weight: 400;\n            font-style: normal;\n        }\n\n        @font-face {\n            font-family: \"Segoe UI\";\n            src: local(\"Segoe UI Semibold\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Semibold.woff2\") format(\"woff2\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Semibold.woff\") format(\"woff\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Semibold.ttf\") format(\"truetype\");\n            font-weight: 600;\n            font-style: normal;\n        }\n\n        @font-face {\n            font-family: \"Segoe UI WestEuropean\";\n            src: local(\"Segoe UI Semilight\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Semilight.woff2\") format(\"woff2\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Semilight.woff\") format(\"woff\"), url(\"https://appsforoffice.microsoft.com/fabric/fonts/SegoeUI-WestEuropean/SegoeUI-Semilight.ttf\") format(\"truetype\");\n            font-weight: 200;\n            font-style: normal;\n        }\n\n        < !--[if gte mso 9]>body {\n            mso-line-height-rule: exactly;\n        }\n\n        table {\n            mso-table-lspace: 0pt;\n            mso-table-rspace: 0pt;\n        }\n\n        tr {\n            mso-line-height-rule: exactly;\n        }\n\n        td {\n            mso-line-height-rule: exactly;\n        }\n\n        < !--< ![endif]-->< !--[if gte mso 15]>body {\n            line-height: 0;\n            mso-line-height-rule: exactly;\n        }\n\n        table {\n            mso-table-lspace: 0pt;\n            mso-table-rspace: 0pt;\n        }\n\n        tr {\n            mso-line-height-alt: 0px;\n            mso-margin-top-alt: 0px;\n            mso-line-height-rule: exactly;\n        }\n\n        td {\n            mso-line-height-rule: exactly;\n        }\n\n        < !--< ![endif]-->\n    </style>\n\n    <style type=\"text/css\">\n        @media only screen and (max-width: 660px) {\n            /* Mobile only styles, using important to overpower the inlined styles */\n            .OuterTable,\n            .OuterContainer {\n                width: 100% !important;\n            }\n        }\n    </style>\n\n\n\n</head>\n\n<body style=\"-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0; background-color: #f2f2f2\">\n    <!--[if mso]>\n\t<center>\n\t<table><tr><td width=\"640\">\n<![endif]-->\n\n    <div class=\"OuterContainer\" width=\"640\" style=\"padding: 0; margin: 0 auto; width: 640px; background-color: #f2f2f2;\">\n        <table class=\"OuterTable\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse: collapse; font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; border: 0; width: 640px; padding: 0; margin: 0 auto;\">\n\n\n            <style type=\"text/css\">\n                @media only screen and (max-width: 660px) {\n                    .HeaderCell {\n                        background: #ffffff !important;\n                    }\n                }\n            </style>\n\n            <tr style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;\">\n                <td class=\"HeaderCell\" style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; padding: 15px 20px;\">\n                    <img width=\"90\" height=\"17\" src=\"https://odsp-ext.azurewebsites.net/mention-email/sharepoint-logo.png\">\n                </td>\n            </tr>\n\n\n            <style type=\"text/css\">\n                @media only screen and (max-width: 660px) {\n                    .GreetingParagraph {\n                        font-size: 21px !important;\n                        line-height: 28px !important;\n                    }\n                }\n            </style>\n\n            <tr style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;\">\n                <td class=\"ContentCell\" style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;\">\n                    <table class=\"ContentTable\" bgcolor=\"#FFFFFF\" align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse: collapse; font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; border: 1px solid #dedede; width: 100%; padding: 0;\">\n\n                        <!-- greeting row -->\n                        <tr style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;\">\n                            <td class=\"InnerHeaderCell\" style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; padding: 36px; text-align: center;\">\n                                <img class=\"GreetingImage\" width=\"34\" height=\"34\" src=\"https://odsp-ext.azurewebsites.net/email/templates/flow-remind-me/icon-reminder.png\">\n                                <p class=\"GreetingParagraph\" style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; padding: 0; margin: 20px auto 0 auto; color: #222222; font-size: 24px; font-weight: 600; line-height: 32px; max-width: 320px; text-align: center;\">Has pedido que se te avise a @{body('Get_my_profile_(V2)')?['displayName']} @{outputs('Days_to_remind_me_in')} días antes de FECHA TERMINACIÓN CONTRATO sobre los siguientes elementos:</p>\n                            </td>\n                        </tr>\n\n                        <!-- content row -->\n                        <tr style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;\">\n                            <td class=\"InnerContentCell\" style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; padding: 30px; background-color: #f8f8f8; border-top: 1px solid #dedede;\">\n                                 <table class=\"FileList\" style=\"border: 0; border-collapse: collapse; font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; background: #fff; border-spacing: 0; width: 100%;\">\n                                    @{variables('TableRows')}\n                                </table>\n                            </td>\n                        </tr>\n                    </table>\n                </td>\n            </tr>\n        </table>\n    </div>\n\n    <!--[if mso]>\n</td></tr></table>\n</center>\n<![endif]-->\n</body>\n\n</html>"},"path":"/sendEmailNotification","authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_items')?['value']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"67156587-d1b6-4723-b18e-fcf01ddd3a72"},"type":"AppendToStringVariable","inputs":{"name":"TableRows","value":"<tr style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;\"><td class=\"FileList-iconCell FileList-iconCell--last\" style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; border-bottom: 2px solid #eaeaea; padding: 20px 12px 20px 32px; white-space: nowrap;\"><img src=\"https://odsp-ext.azurewebsites.net/email/components/FileList/icon-task.png\" width=\"22\" height=\"22\"></td><td class=\"FileList-linkCell FileList-linkCell--last\" style=\"font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif; border-bottom: 2px solid #eaeaea; padding-bottom: 4px; width: 100%;\"><a href=\"@{items('Apply_to_each')?['{Link}']}\" style=\"padding: 0; margin: 0; color: #0078d7; font-size: 17px; text-decoration: none;\">@{items('Apply_to_each')?['{Name}']}</a></td></tr>"}}},"runAfter":{},"metadata":{"operationMetadataId":"bd2f274a-32d7-4fc8-8423-89988af76cc1"},"type":"Foreach"}}},"expression":"@empty(body('Get_items')?['value'])","metadata":{"operationMetadataId":"866d9db3-40b4-4ef8-8b2a-9d838f141826"},"type":"If"},"Get_list_name_by_HTTP_request":{"runAfter":{"x_Days_+_1":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"},"operationMetadataId":"8df3db9c-680e-4b51-b128-765cc10568b7"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"method":"GET","uri":"_api/web/lists/getById('@{encodeURIComponent(encodeURIComponent('cbb3b5e6-2ffd-4c0e-a6fd-fbca8e66b35d'))}')?$select=Title","headers":{"Accept":"application/json;odata=nometadata"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://minagriculturaco.sharepoint.com/sites/ContratosyconveniosDCAF'))}/httprequest","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"1abb371d-7a1f-4b63-a981-a4344c6176d5"},"type":"Scope"},"Couldn't_send_a_reminder":{"runAfter":{"Scope_to_get_items_due_in_1_day":["Failed","TimedOut"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailNotification"},"operationMetadataId":"645f3fb5-2d85-42fb-8f95-2dccee6da598"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['flowpush']['connectionId']"}},"method":"post","body":{"notificationSubject":"Sending reminder: Something failed","notificationBody":"Sending reminder: Something failed"},"path":"/sendEmailNotification","authentication":"@parameters('$authentication')"}},"Days_to_remind_me_in":{"runAfter":{"Build_Table_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"f761e3b3-fc02-445d-8f82-43226b3fef3f"},"type":"Compose","inputs":"@'3'"},"Get_my_profile_(V2)":{"runAfter":{"Days_to_remind_me_in":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"MyProfile_V2"},"operationMetadataId":"0a0ba073-e9db-4fdd-b1ae-57c0f54644ba"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/me","authentication":"@parameters('$authentication')"}},"Build_Table_Rows":{"runAfter":{},"metadata":{"operationMetadataId":"08049d15-bdda-442f-9957-9f02bc2c3689"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TableRows","type":"string"}]}}},"outputs":{},"description":"Remind me a number of days in advance of the date in the column"},"parameters":{"$connections":{"value":{"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"},"flowpush":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'flowpush')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('flowpush_Connection_Name'))]","connectionName":"[parameters('flowpush_Connection_Name')]"},"office365users":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]","connectionName":"[parameters('office365users_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"operationOptions":"WithLargeNumberOfActions","collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-228793D9E51D4239849DC06672019226"}},"integrationAccount":{"name":"18be2da2872b4bdb98a8d9404cdddc00-westus","id":"subscriptions/default-18be2da2-872b-4bdb-98a8-d9404cdddc00/resourceGroups/selfhostingresourcegroup/providers/Microsoft.Logic/integrationAccounts/18be2da2872b4bdb98a8d9404cdddc00-westus","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sharepointonline_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('flowpush_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'flowpush')]"},"displayName":"[parameters('flowpush_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365users_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]"},"displayName":"[parameters('office365users_Connection_Name')]"}}]}